{% raw %}
<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mockup Protótipo BOVESPA</title>

  <!-- Load c3.css, Pure.css and custom css-->
  <link href="static/css/c3.min.css" rel="stylesheet" type="text/css">
  <link href="static/css/pure-min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />

  <!-- Load d3.js v3.5.17 and c3.js -->
  <script src="static/js/d3.min.js" charset="utf-8"></script>
  <script src="static/js/c3.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
  <div class="pure-g">
    <div class="pure-u-1-5">
      <h1>Protótipo</h1>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-5-24">
      <div id="menu">
      <form class="pure-form pure-form-aligned">
        <fieldset>
          <div class="pure-control-group">
              <label for="stock">Ação</label>
              <input id="stock" type="text" placeholder="DTEX3" /><br />
              <label for="start_date">Data Inicial</label>
              <input id="start_date" type="text" placeholder="2016-11-11" /><br />
              <label for="end_date">Data Final</label>
              <input id="end_date" type="text" placeholder="2017-01-20" />
          </div>
          <button type="button" onclick="update_cblc(); update_chart(); " class="pure-button">Atualizar</button><br />

        </fieldset>
      </form>

      <h4>API Sample JSON</h4>
      <ul>
        <li><a href="/api/stock/dtex3/2017-01-10/2017-02-02/stock.json">stock.json</a></li>
        <li><a href="/api/cdi/2017-01-10/2017-02-02/cdi.json">cdi.json</a></li>
        <li><a href="/api/stock_cdi/dtex3/2017-01-10/2017-02-02/stock_cdi.json">stock_cdi.json</a></li>
        <li><a href="/api/cblc/dtex3/cblc.json">cblc.json</a></li>
      </ul>
    </div>
    </div> <!-- /.leftcol -->
    <div class="pure-u-19-24">

      <!-- C3 Chart -->
      <div id="chart"></div>

<div id="demo">
      <table class="pure-table">
        <thead>
          <th>Date</th>
          <th>N.</th>
          <th>Qtd. Ações</th>
          <th>Valor R$</th>
          <th>Doador</th>
          <th>Tomador</th>
          <th>Cotação Média</th>
          <th>Tx Méd 3d</th>
          <th>Posicao em Aberto</th>
        </thead>
        <tbody>
          <tr>
            <td>{{ params.r00.Data_geracao }}</td>
            <td>{{ params.r01.Acao }}</td>
            <td>{{ params.r01.Qtd_Acao }}</td>
            <td>{{ params.r01.Valor }}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>{{ params.r02.Tx_Med_Doador }}</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>




    </div>
  </div> <!-- /.pure-g -->

</div>
  <script>

  var base_url = 'http://127.0.0.1:5000/api'
  var query_url = base_url + '/stock_cdi/dtex3/2017-01-10/2017-02-02/stock_cdi.json'

  var chart = c3.generate({
      data: {
        url: query_url,
        mimeType: 'json',
        keys: {
            x: 'Date',
            value: ['Adj_Close_Percent','CDI_Percent']
        },
      },
      zoom: {
        enabled: true
      },
      axis: {
        y: {
          label: 'Valor'
        },
        y2: {
          show: true
        },
        x: {
          label: {
            text: 'Data'
          },
            type: 'category',
            tick: {
              centered: true,
              multiline: false,
              rotate: -75,
              format: '%d/%m/%Y'
            },
            height: 100
        }
      }
    });
  function update_cblc() {

  }

  function update_chart() {
    var stock = document.getElementById('stock').value;
    var start_date = document.getElementById('start_date').value;
    var end_date = document.getElementById('end_date').value;
    query_url = base_url + 'stock_cdi/' + stock + '/' + start_date + '/' + end_date + '/stock_cdi.json'
    //alert(stock + start_date + end_date)
    var chart = c3.generate({
        data: {
          url: query_url,
          mimeType: 'json',
          keys: {
              x: 'Date',
              value: ['Adj_Close','CDI']
          },
        },
        zoom: {
          enabled: true
        },
        axis: {
          y: {
            label: 'Valor'
          },
          y2: {
            show: true
          },
          x: {
            label: {
              text: 'Data'
            },
              type: 'category',
              tick: {
                centered: true,
                multiline: false,
                rotate: -75,
                format: '%d/%m/%Y'
              },
              height: 100
          }
        }
      });
  };


  var stock = 'dtex3'
  var base_url = 'http://127.0.0.1:5000/api/'
  var end_url = '/cblc.json'
  //apiURL = base_url + stock + end_url


  var demo = new Vue({

    el: '#demo',

    data: {
      params: null
    },

    created: function () {
      this.fetchData()
    },

    watch: {
      currentBranch: 'fetchData'
    },

    filters: {
    },

    methods: {
      fetchData: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        xhr.open('GET', base_url + 'cblc/' + stock + end_url)
        xhr.onload = function () {
          self.params = JSON.parse(xhr.responseText)
          console.log(self.params)
        }
        xhr.send()
      }
    }

  })
</script>
</body>
{% endraw %}
