<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mockup Protótipo BOVESPA</title>

  <!-- Load c3.css, Pure.css and custom css-->
  <link href="static/css/c3.min.css" rel="stylesheet" type="text/css">
  <link href="static/css/pure-min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />

  <!-- Load d3.js v3.5.17 and c3.js -->
  <script src="static/js/d3.min.js" charset="utf-8"></script>
  <script src="static/js/c3.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>

  <div id="app">
    {{ message }}
  </div>

  <div class="pure-g">
    <div class="pure-u-1-5">
      <h1>Protótipo</h1>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-5-24">
      <form class="pure-form pure-form-aligned">
        <fieldset>
          <div class="pure-control-group">
              <label for="stock">Ação</label>
              <input id="stock" type="text" placeholder="DTEX3" /><br />
              <label for="start-date">Data Inicial</label>
              <input id="start-date" type="text" placeholder="11/nov/16" /><br />
              <label for="end-date">Data Final</label>
              <input id="end-date" type="text" placeholder="20/jan/2017" />
          </div>
          <button class="pure-button">Atualizar</button><br />

        </fieldset>
      </form>

    <h4>API Sample JSON</h4>
    <ul>
      <li><a href="/api/stock/dtex3/2017-01-10/2017-02-02/stock.json">stock.json</a></li>
      <li><a href="/api/cdi/2017-01-10/2017-02-02/cdi.json">cdi.json</a></li>
      <li><a href="/api/stock_cdi/dtex3/2017-01-10/2017-02-02/stock_cdi.json">stock_cdi.json</a></li>
      <li><a href="/api/cblc/dtex3/cblc.json">cblc.json</a></li>
    </ul>

    </div>
    <div class="pure-u-19-24">

      <!-- C3 Chart -->
      <div id="chart"></div>

      <table class="pure-table">
        <thead>
          <tr>
            <th>Data</th>
            <th>N.</th>
            <th>Qtd. Ações</th>
            <th>Valor R$</th>
            <th>Doador</th>
            <th>Tomador</th>
            <th>Cotação Média</th>
            <th>Taxa méd. 3 Dias</th>
            <th>Posição em Aberto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>20/jan/17</td>
            <td>28</td>
            <td>1.374.735</td>
            <td>10.049.313</td>
            <td>0.89%</td>
            <td>0.93%</td>
            <td>7,31</td>
            <td>-</td>
            <td>19.187.184</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- /.pure-g -->

  <script>
  var chart = c3.generate({
      data: {
        url: '/api/stock/dtex3/2016-11-11/2017-01-20/stock.json',
        mimeType: 'json',
        keys: {
            x: 'Date',
            value: ['Adj_Close']
        },
      },
      zoom: {
        enabled: true
      },
      axis: {
        y: {
          label: 'Valor'
        },
        y2: {
          show: true
        },
        x: {
          label: {
            text: 'Data'
          },
            type: 'category',
            tick: {
              centered: true,
              multiline: false,
              rotate: -75,
              format: '%d/%m/%Y'
            },
            height: 100
        }
      }
    });
</script>
</body>
